[color]
	ui = true
[user]
	name = Maor Leger
	email = maor.leger@gmail.com
[alias]
	co = checkout
	ci = commit
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.global_ignore
[credential]
  helper = cache --timeout=3600
